apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.webhook.replicas }}
  selector:
    matchLabels:
      app: webhook
  template:
    metadata:
      labels:
        app: webhook
    spec:
      containers:
        - name: webhook
          image: "{{ .Values.webhook.image }}:{{ .Values.webhook.tag }}"
          ports:
            - containerPort: {{ .Values.webhook.port }}
          env:
            - name: CONFIG_PATH
              value: "/app/config/application.yaml"
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: clientId
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: clientSecret
          volumeMounts:
            - name: config-volume
              mountPath: /app/config
      volumes:
        - name: config-volume
          configMap:
            name: webhook-config

